<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809098905191-q0c1017c5nlintbgghs7ghn3qpjjia3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809098905191-q0c1017c5nlintbgghs7ghn3qpjjia3f</string>
	<key>API_KEY</key>
	<string>AIzaSyDGjU2iBajVfpxA9VGnXkMIhi7MqIS2eng</string>
	<key>GCM_SENDER_ID</key>
	<string>809098905191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pbl5App</string>
	<key>PROJECT_ID</key>
	<string>pbl5-project</string>
	<key>STORAGE_BUCKET</key>
	<string>pbl5-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809098905191:ios:dcf0beca171bee73c1b6c2</string>
</dict>
</plist>